.shop-container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    background-color: #f2f3f7;
}
.cart-container{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 5px;
     
    
}


/* medial queries */
@media only screen and (max-width: 600px) {
    
    .cart-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 5px;
        
       
   }
   

  }